html{
}

body{
    font-family:Montserrat;
    color:black;
    font-weight:bold;
    text-transform:uppercase;
        background-color: transparent;
}

h1,h2,h3,p,a{
    z-index:3;
}

h1{
    font-size:60px;
    margin:0;
    line-height:60px; 
    white-space: nowrap;
  overflow: hidden;
}

h2{
    font-size: 36px;
    margin:0 0 10px 0;
    line-height:36px;
}

h3{
    font-size:24px;
    margin:0;
}

p{
    font-size:14px;
    margin:0; 
}

a{
    color:black;
}

a:hover,a:focus{
    color:black;
}

.main{
    margin:60px;

}

.social > p:not(:first-child){
        margin-top: 10px;
}
}


.grid{
    margin-top:20px;
}

.grid-item{
    padding:20px;
    height:200px;
}

.grid-item:hover{
    text-decoration:underline;
}

.submit{
    text-decoration:underline;
}

.pad{
    padding-left:20px;
}

.change-my-color{
    fill:yellow;
}

.home-item > img{
        position: inherit;
    z-index: -1;
    top: 0;
}