html{
     background-position:center 0px;
      background-size: contain;
      background-repeat:no-repeat;
       background-attachment:fixed;
}

body{
    font-family:Montserrat;
    color:black;
    font-weight:bold;
    text-transform:uppercase;
        background-color: transparent;
}

h1,h2,h3,p,a{
    z-index:3;
}

h1{
    font-size:60px;
    margin:0;
    line-height:60px; 
    white-space: nowrap;
  overflow: hidden;
}

h2{

    font-size: 36px;
    margin:0 0 10px 0;
    line-height:36px;
}

.home-item h2{
    margin:0;
}

h3{
    font-size:24px;
    margin:0;
}

p{
    font-size:14px;
    margin:0; 
}

a{
    color:black;
}

a:hover,a:focus{
    color:black;
}

.main{
    margin:60px;

}

.social > p:not(:first-child){
        margin-top: 10px;
}
}


.grid{
    margin-top:20px;
}

.grid-item{
    padding:20px;
}


.grid-item:hover{
    text-decoration:underline;
}

.submit{
    text-decoration:underline;
}

.submit:hover{
    text-decoration:none;
}

.pad{
    padding-left:20px;
}

.change-my-color{
    fill:yellow;
}

.home-item > img{
        position: inherit;
    z-index: -1;
      top: -10px;
    width: 100%;
    height: 95%;
}

.home-item{
    height:300px;
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 768px) {


    h1{
        font-size:40px;
        line-height: 40px;
    }

    h2{
    font-size: 24px;
    line-height:24px;
    }

    h3{
    font-size:16px;
    line-height:16px;
}

    p {
        font-size: 10px;
    }

    .main{
    margin:40px;

}

    .social > p{
        margin-top: 10px;
}
    .pad{
    padding-left:15px;
    padding-bottom:15px;
}
   

    .grid-item{      
        padding:15px;
    }
    .business{
        height:auto;
    }
}

/* Extra Small Devices, Phones 566*/

@media only screen and (max-width : 566px) {
    html {
            background-position: 0px 70px;
    }
}


@media only screen and (max-width : 1024px) {




}