@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var cities = CurrentPage.Children;
    var image = "";
}
<div class="row grid">
    @foreach (var city in cities)
    {
        if (OliBase.Helpers.HasValue(city.image))
        {

            image = Umbraco.Media(city.image).url;
        }

        <a title="@city.cityName" href="@city.Url">
            <div class="home-item grid-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <h2>Business<br /> On A Bike</h2>
                <h3>@city.cityName</h3>
                <img src="@image" />
            </div>
        </a>
    }
</div>