@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">   
    <link rel="stylesheet" href="~/css/bootstrap-theme.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>  
    <div class="main">
        @RenderBody()
    </div>
    <footer></footer>
    <script src="~/scripts/masonry.js"></script>
    <script src="~/scripts/main.js"></script>
</body>
</html>

